
<div class= "show1">
    <p><span>Title</span>:<%= @book.title %></p>
</div>
<div class= "show1">
    <p><span>Body</span>:<%= @book.body %></p>
</div>

<a href= '/books/<%= @book.id %>/edit'>Edit</a>
|
<a href= '/books'>Back</a>
