
<h1>ようこそ <span>Bookers</span> へ！</h1>

<div class= "too">
    <p class= "item1"><span>Bookers</span>では、さまざまな書籍に関するあなたの意見や</p>
    <p class= "item2">印象を共有し交換することができます</p>
    <div class= "item3"><a href= '/books'>start</a></div>
</div>